let student = [
    { roll_no:1 ,name:"Manish", gender:"Male", maths:30, sci:30, guj:50 },
    { roll_no:2 ,name:"Kishan", gender:"Male", maths:30, sci:30, guj:50 },
    { roll_no:3 ,name:"Bhavik", gender:"Male", maths:30, sci:30, guj:50 },
    { roll_no:4 ,name:"Mansi", gender:"Female", maths:30, sci:30, guj:50 }
    { roll_no:1 ,name:"Manish", gender:"Male", maths:25, sci:20 },
    { roll_no:1 ,name:"Manish", gender:"Male", maths:5, sci:5 },
    { roll_no:1 ,name:"Manish", gender:"Male",  guj:40 },
    { roll_no:2 ,name:"Kishan", gender:"Male", maths:30, sci:30, guj:30 },
    { roll_no:2, name:"Kishan", gender:"Male", sci:30 },
    { roll_no:3, name:"Bhavik", gender:"Male", maths:30},
    { roll_no:3, name:"Bhavik", gender:"Male", sci:30},
    { roll_no:3, name:"Bhavik", gender:"Male", guj:50 },
]

 { roll_no:1 name:"Manish", gender:"Male", maths:60, sci:55, guj:90, total:205, per:68.33, rank:1 },